{% extends "base.html" %}
{% block content %}
<main class="container d-flex flex-column align-items-center">
    {% for post in posts %}
    <div class="d-flex">
        <article class="card mt-3 border rounded p-2">
            <div class="d-flex justify-content-between">
                <p class="fw-bold">
                    {% if post.author.first_name %}
                    {{ post.author.get_full_name }}
                    {% else %}
                    {{ post.author.username }}
                    {% endif %}
                </p>
                <small class="mt-1 text-muted">{{ post.created_on|date:"F j, Y" }}</small>
            </div>
            <img src="{{ post.image.url }}" alt="post_image" class="w-100">
            <a href="{% url 'post-detail' post.id %}" class="stretched-link"></a>
        </article>
    </div>
    {% endfor %}
</main>
{% endblock content %}